<br>
<h2 class="text-center">เพิ่มข้อมูลทะเบียน</h2>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 col-md-offset-3">
        <div class="jumbotron">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >เลขบัตรประชาชน</label>
                            <input type="text" (keypress)="numberOnly($event)" [(ngModel)]="userAdd.CITIZEN_ID" name="txtID" id="idcard" class="form-control input-sm" autocomplete="off" placeholder="เลขบัตรประชาชน" [ngClass]="{ 'is-invalid': submitted && f.idcard.errors }"/>
                            <div *ngIf=" validate_CITIZEN_ID">
                                <div *ngIf=" validate_CITIZEN_ID == '0'"><h6>กรุณากรอกเลขบัตรประชาชน</h6></div>
                                <div *ngIf=" validate_CITIZEN_IDMIN == '2'"><h6>กรุณากรอกให้ครบ 13 ตัว</h6></div>
                                <div *ngIf=" validate_CITIZEN_IDMAX == '3'"><h6>เลขบัตรประชาชนเกิน 13 ตัว</h6></div>
                                
                                <!-- <div *ngIf="userAdd.CITIZEN_ID == undefined || userAdd.CITIZEN_ID == ''">กรุณากรอกเลขบัตรประชาชน</div> -->
                                <!-- <div *ngIf=" validate_CITIZEN_IDMIN === '2'"><h6>กรุณากรอกให้ครบ 13 ตัว</h6></div>
                                <div *ngIf=" validate_CITIZEN_IDMAX === '3'"><h6>เลขบัตรประชาชนเกิน 13 ตัว</h6></div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >คำนำหน้าชื่อ</label>
                            <ng-select [items]="TITLE" bindLabel="name" bindValue="id" placeholder="เลือก" [(ngModel)]="userAdd.TITLE"> </ng-select>
                            <div *ngIf=" validate_TITLE == '0'"><h6>กรุณาเลือกคำนำหน้า</h6></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label >เพศ</label>
                            <ng-select [items]="SEX" bindLabel="name" bindValue="id" placeholder="เลือก"  [(ngModel)]="userAdd.SEX"> </ng-select>
                            <div *ngIf=" validate_SEX == '0'"><h6>กรุณาเลือกเพศ</h6></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label  >ชื่อตัวไทย</label>
                            <input type="text" [(ngModel)]="userAdd.FIRST_NAME"  id="firstname" class="form-control input-sm" onkeyup="isThaichar(this.value,this)" autocomplete="off" placeholder="ชื่อตัวไทย" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"/>
                                <div *ngIf="validate_FIRST_NAME == '0'"><h6>กรุณากรอกชื่อตัวไทย</h6></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label  >ชื่อสกุลไทย</label>
                            <input type="text" [(ngModel)]="userAdd.LAST_NAME"  id="lastname" class="form-control input-sm" onkeyup="isThaichar(this.value,this)" autocomplete="off" placeholder="ชื่อสกุลไทย" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }"/>
                                <div *ngIf="validate_LAST_NAME == '0'"><h6>กรุณากรอกชื่อสกุลไทย</h6></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label  >หมู่โลหิต</label>
                                <ng-select [items]="BLOOD" bindLabel="name" bindValue="id" placeholder="เลือก" [(ngModel)]="userAdd.BLOOD"> </ng-select>
                                <div *ngIf="validate_BLOOD == '0'"><h6>กรุณากรอกชื่อสกุลไทย</h6></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="formGroupExampleInput">วันเกิด</label>
                                <mat-form-field class="form-control input-sm">
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [matDatepicker]="picker" [(ngModel)]="userAdd.BIRTH_DATE">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker touchUi #picker></mat-datepicker>
                                </mat-form-field>
                            <!-- <mat-form-field> -->
                                <!-- <input class="form-control input-sm"  matInput [matDatepicker]="myDatepicker" [(ngModel)]="userAdd.BIRTH_DATE"> -->
                                <!-- <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
                                <mat-datepicker #myDatepicker></mat-datepicker> -->
                              <!-- </mat-form-field> -->
                            <!-- <div class="input-group">
                                <input class="form-control input-sm" [(ngModel)]="userAdd.BIRTH_DATE" autocomplete="off" placeholder="dd/mm/yyyy"   id="birthdate" [(ngModel)]="model2" ngbDatepicker #d2="ngbDatepicker" [ngClass]="{ 'is-invalid': submitted && f.birthdate.errors }"/>
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button"></button>
                                </div>
                            </div> -->
                            <div *ngIf="validate_BIRTH_DATE == '0'"><h6>กรุณาเลือกวันเกิด</h6></div>
                        </div>
                    </div>
                    {{userAdd.BIRTH_DATE}}
                </div>
                    <button type="button" (click)="postdata()" class="btn btn-primary float-md-right" value="ตรวจสอบ">บันทึก</button>
                    <!-- <button type="submit" class="btn btn-primary" [disabled]="!angForm.valid">บันทึก</button> -->
        </div>
    </div>
    <div class="col-md-3">
    </div>
 
</div>